<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title></title>
  </head>
  <body>
    <h1 class="page-header">bookbug.</h1>
    <nav>
      <a href="/library/new"><button type="button" name="button">add book</button></a>
    </nav>
    <div class="cards">
      <% for (let i = 0; i < books.length; i++){ %>
          <a href="/library/<%=books[i].id%>">
            <img src="<%= books[i].imgSrc %>" alt="<%= books[i].title %>">
          </a>
      <% } %>
    </div>
  </body>
</html>
