<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="/css/edit.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>add book</h1>
    <form action="/library" method="post">
      <input type="text" name="title" placeholder="title"> <br>
      <input type="text" name="author" placeholder="author"> <br>
      <input type="number" name="currentPage" placeholder="current Page"> <br>
      <input type="number" name="totalPages" placeholder="total pages"> <br>
      <input type="text" name="imgSrc" placeholder="image source"> <br>
      <input type="checkbox" name="completed"> finished? <br>
      <input type="submit" value="add book">
    </form>
  </body>
</html>
